:root {
  --body-text: 18px;
  --main-heading: 30px;
  --section-header: 38px;
  --cta-heading: 25px;
  --sub-heading: 20px;
  --cta-main-text-desktop: 120px;
  --cta-secondary-text-desktop: 30px;

  --cta-main-text-mobile: 80px;
  --cta-secondary-text-mobile: 20px;

  --mobile-body-text: 16px;

  --stozl-font: "stolzl", sans-serif;
  --poppins-font: "poppins", sans-serif;

  --font-weight-reg: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  --background-color: #ffffff;
  --text-color: #000000;
  --contrast-yellow: #0000ff;

  --desktop-margin: 17vw;
  --mobile-margin: 10vw;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

main {
  margin: auto var(--desktop-margin);
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
  cursor: default;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--stozl-font);
  font-weight: var(--font-weight-reg);
}

hr {
  border-top: solid 3px var(--text-color);
  border-radius: 4px;
  margin: 31.54px auto 0 auto;
}

h2 {
  font-family: var(--poppins-font);
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--section-header);
}

h3 {
  font-size: var(--main-heading);
  margin: 0;
}

#cta-home,
#projects,
#about,
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 80px;
}

/* ////////////// animation */
.hiddenPill {
  opacity: 0;
}

.showPill {
  opacity: 1;
  animation: swipeIn 1s 1;
}

@keyframes swipeIn {
  0% {
    translate: 0px 400px;
  }
  100% {
    translate: 0px 0px;
  }
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/* //////////////////////////////////////////////  header */

header {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  top: -5px;
  z-index: 1;
  position: sticky;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px var(--desktop-margin);
}

.header-nav {
  display: flex;
  gap: 15px;
}

.mobile-nav {
  display: none;
}

#nav-links {
  display: none;
}

.header-nav li {
  font-family: var(--stozl-font);
  font-weight: var(--font-weight-bold);
  list-style-type: none;
  font-size: var(--sub-heading);
}

.header-logo {
  max-width: 50px;
}

.header-hr {
  margin: 0 17vw;
}

/* //////////////////////////////////////////////  cta section */
#cta-home {
  height: 90vh;
}

.button-container {
  display: flex;
  gap: 20px;
}

.cta-button {
  background-color: var(--contrast-yellow);
  border: solid 3px var(--text-color);
  color: var(--background-color);
  padding: 10px;
  font-weight: var(--font-weight-bold);
  border-radius: 3px;
  box-shadow: 5px 5px var(--text-color);
}

.cta-button:hover {
  box-shadow: none;
  translate: 5px 5px;
}
.top-text-cta {
  font-size: var(--cta-secondary-text-desktop);
  color: rgba(0, 0, 0, 0.5);
}

.big-text-cta {
  font-size: var(--cta-main-text-desktop);
  font-family: var(--poppins-font);
  color: var(--body-text);
}

.bottom-text-cta {
  font-size: var(--cta-secondary-text-desktop);
  color: rgba(0, 0, 0, 0.8);
}

.cta-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* //////////////////////////////////////////////  work section */
.work-card {
  background-color: var(--text-color);
  color: var(--background-color);
  display: flex;
  max-width: 900px;
  border-radius: 3px;
  border: solid 3px black;
  gap: 20px;
  padding: 0;
}

.work-image {
  max-height: 300px;
  object-fit: cover;
}

.work-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.work-features {
  color: rgba(255, 255, 255, 0.6);
}

.work-card-link {
  color: var(--background-color);
  background-color: var(--contrast-yellow);
  padding: 10px;
  border-radius: 3px;
  border: solid 3px var(--background-color);
  box-shadow: 5px 5px var(--background-color);
}
.work-card-link:hover {
  box-shadow: none;
  translate: 5px 5px;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* //////////////////////////////////////////////  about section */
.about-text {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.about-divs {
  display: flex;
  flex-direction: column;
  margin-top: 31.54px;
  align-items: center;
  gap: 20px;
}

.skill-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 900px;
}

.skill-pill {
  background-color: var(--contrast-yellow);
  color: var(--background-color);
  font-size: var(--sub-heading);
  padding: 10px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  border-radius: 500px;
  width: 130px;
  padding: 5px 10px;
  font-size: var(--cta-heading);
}

.about-links:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* //////////////////////////////////////////////  footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.center-icon {
  display: flex;
  align-items: center;
}

.contact-cta {
  margin-bottom: 31px;
}

/* //////////////////////////////////////////////  responsive */
@media only screen and (max-width: 1300px) {
  .header-top {
    padding: 13px var(--mobile-margin);
  }

  .header-hr {
    margin: 0 var(--mobile-margin);
  }
  .top-text-cta {
    font-size: var(--cta-secondary-text-mobile);
  }

  .big-text-cta {
    font-size: var(--cta-main-text-mobile);
  }

  .bottom-text-cta {
    font-size: var(--cta-secondary-text-mobile);
  }

  main {
    margin: auto var(--mobile-margin);
  }

  .work-card {
    flex-direction: column;
    max-width: 66vw;
  }

  .work-desc,
  .link-container a,
  .work-features {
    font-size: var(--mobile-body-text);
  }

  h3 {
    font-size: var(--sub-heading);
  }
  .work-card {
    font-size: var(--body-text);
  }

  .skill-pill {
    font-size: var(--body-text);
  }
}

@media only screen and (max-width: 600px) {
  .header-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    z-index: 5;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    right: var(--mobile-margin);
    top: 8%;
    position: fixed;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    z-index: 4;
  }

  #nav-links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }

  footer div {
    font-size: var(--ebody-text);
  }
}
