:root {
  --body-text: 18px;
  --main-heading: 26px;
  --section-header: 33px;
  --sub-heading: 20px;
  --cta-main-text-desktop: 120px;
  --cta-secondary-text-desktop: 30px;

  --stozl-font: "stolzl", sans-serif;
  --poppins-font: "poppins", sans-serif;

  --font-weight-reg: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  --background-color: #ffffff;
  --text-color: #000000;
  --contrast-yellow: #0000ff;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

body {
  cursor: default;
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: var(--stozl-font);
  font-weight: var(--font-weight-reg);
}

#projects,
#about,
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 90px;
}
#cta-home {
  scroll-margin-top: 90px;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

main {
  margin: auto 17vw;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

/* header */
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 17vw;
}

.header-nav {
  display: flex;
  gap: 15px;
}

.header-nav li {
  font-family: var(--stozl-font);
  font-weight: var(--font-weight-bold);
  list-style-type: none;
  font-size: var(--sub-heading);
}

hr {
  border-top: solid 3px var(--text-color);
}

h2 {
  font-family: var(--poppins-font);
  font-weight: var(--font-weight-extra-bold);
  font-size: var(--section-header);
}

h3 {
  font-size: var(--section-header);
  margin: 0;
}

.header-logo {
  max-width: 50px;
}

.header-hr {
  margin: 0 17vw;
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  top: -5px;
  z-index: 1;
  position: sticky;
}

/* cta section */
#cta-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.button-container {
  display: flex;
  gap: 20px;
}

.cta-button {
  background-color: var(--contrast-yellow);
  border: solid 3px var(--text-color);
  color: var(--background-color);
  padding: 10px;
  font-weight: var(--font-weight-bold);
  border-radius: 3px;
  box-shadow: 5px 5px var(--text-color);
}
.top-text-cta {
  font-size: var(--cta-secondary-text-desktop);
  color: rgba(0, 0, 0, 0.5);
}

.big-text-cta {
  font-size: var(--cta-main-text-desktop);
  font-family: var(--poppins-font);
  color: var(--body-text);
}

.bottom-text-cta {
  font-size: var(--cta-secondary-text-desktop);
  color: rgba(0, 0, 0, 0.8);
}

.cta-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* work section */

.work-image {
  max-height: 300px;
  border-radius: 3px;
}

.work-card {
  background-color: var(--text-color);
  color: var(--background-color);
  display: flex;
  max-width: 900px;
  border-radius: 3px;
  gap: 20px;
  padding: 15px;
}

.work-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.work-card-link {
  color: var(--background-color);
  background-color: var(--contrast-yellow);
  padding: 10px;
  border-radius: 3px;
  border: solid 3px var(--background-color);
  box-shadow: 5px 5px var(--background-color);
}

.link-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.work-card-text {
  display: flex;
  flex-direction: column;
}

/* about section */

.about-text {
  max-width: 900px;
}
.skill-container {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 900px;
}

.skill-pill {
  background-color: var(--contrast-yellow);
  color: var(--background-color);
  font-size: var(--sub-heading);
  padding: 10px;
  border-radius: 500px;
}

@media only screen and (max-width: 768px) {
  main {
    margin: auto 7vw;
  }
  .about-text {
    width: 300px;
  }

  .work-card {
    flex-direction: column;
    width: 300px;
  }

  .skill-pill {
    font-size: var(--body-text);
    padding: 8px;
    border-radius: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .about-text {
    width: 300px;
  }

  .work-card {
    flex-direction: column;
    width: 300px;
  }
}
